<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png">
    <title>Coinmarketcap clone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
    <style media="screen">
      .container {
        margin-top: 100px;
      }
      table {
        margin-top: 50px;
      }
      td.change-up {
        color: #093;
      }
      td.change-down {
        color: #d14836;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"> <img src="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png" alt="" width="32"> </a>
    </nav>

    <main class="container" role="main">

      <div class="starter-template">

        <h1>Coinmarketcap Clone</h1>
        <p class="lead">This is a sample copy of <a href="https://coinmarketcap.com/" target="_blank">https://coinmarketcap.com/</a>, only for educational purposes.</p>

        <form method="GET">
          <div class="form-group">
          <input class="form-control" name="search" type="text" placeholder="Search Coins">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>

      <table class="table table-striped table-bordered">

          <thead>
              <tr>

                <!--ORDER BY RANK-->
                {% if order_param == 'rank' and order_direction == 'dsc' %}
                  <!--CHECK IF SEARCHING-->
                  {% if request_get_search %}
                    <th><a href="?search={{request_get_search}}&order_param=rank&order_direction=asc"># <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% else %}
                    <th><a href="?order_param=rank&order_direction=asc"># <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% endif %}
                {% else %}
                {% if request_get_search %}
                  <!--CHECK IF SEARCHING-->
                  <th><a href="?search={{request_get_search}}&order_param=rank&order_direction=dsc"># <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% else %}
                  <th><a href="?order_param=rank&order_direction=dsc"># <span class="oi" data-glyph="sort-descending"></span></a></th>
                  {% endif %}
                {% endif %}

                <th>Name</th>
                <th>Market Cap</th>
                
                <!--ORDER BY price-->
                {% if order_param == 'price_usd' and order_direction == 'dsc' %}
                  <!--CHECK IF SEARCHING-->
                  {% if request_get_search %}
                  <th><a href="?search={{request_get_search}}&order_param=price_usd&order_direction=asc">Price <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% else %}
                  <th><a href="?order_param=price_usd&order_direction=asc">Price <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% endif %}

                {% else %}
                  <!--CHECK IF SEARCHING-->
                  {% if request_get_search %}
                  <th><a href="?search={{request_get_search}}&order_param=price_usd&order_direction=dsc">Price <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% else %}
                  <th><a href="?order_param=price_usd&order_direction=dsc">Price <span class="oi" data-glyph="sort-ascending"></span></a></th>
                  {% endif %}
                {% endif %}

                <th>Volume (24h)</th>
                <th>Circulating supply</th>
                <th>Change (24h)</th>

              </tr>
          </thead>

          <tbody>
              {% load humanize %} 
              {% for coin in coins %}
              <tr>
         
                <td>{{coin.rank}}</td>
                <td>
                  <img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/{{coin.symbol|lower}}.png" alt="" width="16">
                  <a href={% url 'coin_detail' coin.id %}>{{coin.name}}
                </td>
                <td>{{coin.market_cap_usd | intcomma}}</td>
                <td>${{coin.price_usd | intcomma}}</td>
                <td>${{coin.volume_usd_24h | intcomma}}</td>
                <td>${{coin.available_supply | intcomma }} {{coin.symbol}}</td>
                <td>{{coin.percent_change_24h}}</td>
                
              </tr>
              {% endfor %}

          </tbody>

      </table>

    </main>